<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disover the team</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>  
    <h1> L'équipe du Gossip Project<h1>

    <h2>Personne A</h2>
    <h2>Personne B</h2>
    <h2>Personne C</h2>
  <script src="index.js"></script>
  </body>

</html>
