<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disover the team</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>  
    <h2> L'équipe du Gossip Project<h2>
    <br />
    <h2>Laurent Chamouleau</h2>
    <p>Sait où trouver Brian et Jenny</p>
    <p><p/>
    <br />
    <h2>Cédric Le Net</h2>
    <p> Stratège médieval en chef</p>
    <br />
    <h2>Pierre Pellegrino</h2>
    <p>Spécialiste front-end et crèmes solaires<p/>
    <br />
    <h2>Lucas Oudart</h2>
    <p>Speedrunner émérite</p>
    <br />
  <script src="index.js"></script>
  </body>

</html>
