<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disover the team</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>  
    <h1> L'équipe du Gossip Project<h1>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/498/695/1c5.png", class="center", alt="" />
    <br />

    <div class="container_4">
        <div>
          <div class="team-name">Laurent Chamouleau</div>
          <div class= "team-content">Sait où trouver Brian et Jenny</div>
        </div>
        <div>
          <div class="team-name">Cédric Le Net</div>
          <div class= "team-content">Stratège médieval en chef</div>
        </div>
        <div>
          <div class="team-name">Pierre Pellegrino</div>
          <div class= "team-content">Spécialiste front-end et crèmes solaires</div>
        </div>
        <div>
          <div class="team-name">Lucas Oudart</div>
          <div class= "team-content">Speedrunner émérite</div>
      </div>
    </div>

  <script src="index.js"></script>
  </body>

</html>
