<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Home</a>
        <span class="nav-link"><%= link_to "L'équipe", team_path %></span>
        <span class="nav-link"><%= link_to "Nous contacter", contact_path%></span>
      </div>
    </div>
  </div>
</nav>

	<script src="index.js"></script>
    <h1>Nous contacter<h1>

    <h2>Pour nous joindre, c'est <a href = "mailto: contact@the_gossip_team.com">par là</a> !</h2>
  </body>

</html>
